/* Color scheme */
.yellow {
	background-color: #F2E749;
}
.wheat {
	background-color: #F2DEA0;
}
.tan {
	background-color: #D9AB80;
}
.brown {
	background-color: #8C6542;
}
.darkBrown {
	background-color: #402E27;
} 